
/*Styled the header*/
header{
  background-color: #e53170;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

/*Styled fonts for all texts*/
body{
  font-family:sans-serif;
  background-color: #0f0e17;
}

/*Styled the navigation bar*/
.topnav{
  color: #e53170;
  text-align: center;
  background-color: #e53170;
  font-weight: bolder;
  margin: 20px;
  padding: 17px;
  border-style: none;
}

/*Styled the navigation bar*/
.topnav a {
  float: center;
  color: #fffffe;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

/*added a style for when you hover over the links in the navbar*/
.topnav a:hover {
  background-color: #ff8906;
  color: #fffffe;
}

/*styles the gif*/
section{  
  text-align: center; 
  background-color: transparent;   
}

/**/
.sidebar{
  font-family: monospace;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float:right;
  background-color: #db861f;
  color:yellow;
  font-size: 20px;
}

/*added style for articles*/
.article{
  color: #a7a9be;
  font-weight: bold;
}

/*added style to the footer*/
.footer{
  text-align: center;
  background-color: #e53170;
  font-weight: bolder ;
  display: flex;
  flex-direction: column;
  
}

/*added a style for when you hover over the link to the Accenture page in the footer*/
footer a:hover{
  background-color: #ff8906;
}

/*custom colors for the messaging section of "About me"*/
.sectiontab{
  text-align: center; color: white;
  font-weight: bolder;

}

/* Revert the 'white-space' property for textarea elements on Safari */
.textarea {
  white-space: revert;
}


  


