


/*Styled the header*/
header{
  background-color: #db861f;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

/*Styled fonts for all texts*/
body{
  font-family:sans-serif;
  background-color: #f13b3b;
}

/*Styled the navigation bar*/
.topnav{
  color: orange;
  text-align: center;
  background-color: #d9d31c;
  font-weight: bolder;
  margin: 20px;
  padding: 17px;
  border-style: none;
}

/*Styled the navigation bar*/
.topnav a {
  float: center;
  color: blue;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

/*added a style for when you hover over the links in the navbar*/
.topnav a:hover {
  background-color: greenyellow;
  color: palevioletred;
}

/*styles the gif*/
section{  
  text-align: center;    
}

/**/
.sidebar{
  font-family: monospace;
  float: right; color:yellow;
  background-color: #db861f;
}

/*added style for articles*/
.article{
  color: whitesmoke;
  font-weight: bold;
}

/*added style to the footer*/
.footer{
  text-align: center;
  background-color: #d9d31c;
  font-weight: bolder ;
  
}

/*added a style for when you hover over the link to the Accenture page in the footer*/
footer a:hover{
  background-color: greenyellow;
}

/*custom colors for the messaging section of "About me"*/
.sectiontab{
  text-align: center; color: white;
  font-weight: bolder;

}

/* Revert the 'white-space' property for textarea elements on Safari */
.textarea {
  white-space: revert;
}


  


